body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
header{
    height: 65px;
    background-color: #7b1fa2;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 25px;
}
h1{
    font-family: "Comfortaa", sans-serif;
}
h2{
    font-family: "Comfortaa", sans-serif;
}
h3{
    font-family: "Comfortaa", sans-serif;
    color: #F2F2F2;
}
.cara{
    border-radius: 10px;
    height: 240px;
}
.uno{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: calc(100vh - 65px);
    background-color: #303030;
    color: white;
    /* padding-top: 10%; */
}
.caja-central{
    margin-top: 10%;
    width: 60%;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    overflow: hidden;
    height: 57%;
}
.caja-cara{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    background-color: #424242;
}
.caja-presentacion{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    background-color: #F2F2F2;
    color: #303030;
    padding: 10px;
}

.dos{
    background-color: #F2F2F2;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #303030;
    padding-top: 10%;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 15%;
}
.aptitudes{
    width: 50%;
}
.tech-list{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.tech{
    height: 90px;
}

.tres{
    background-color: #303030;
    height: 600px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    color: #F2F2F2;
}
.proyectos{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}
.card{
    text-align: center;
    width: 30%;
    border: solid #F2F2F2 1px;
    border-radius: 10px;
    padding: 10px;
}
.card img{
    width: 75%;
}
.card a, footer a {
    color: white;
}

.extra{
    text-align: start;
}

.red-social{
    height: 60px;
    width: 60px;
    background-color: #F2F2F2;
    border-radius: 100%;
}

footer{
    background-color: #424242;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #F2F2F2;
    height: 250px;
}
.contacto{
    width: 30%;
    display: flex;
    justify-content: center;
}

@media (max-width: 1000px) {
    .caja-central{
        width: 90%;
        height: 80%;
        flex-direction: column;
    }
    .caja-cara{
        width: 100%;
        height: 40%;
    }
    .caja-presentacion{
        width: 100%;
        height: 60%;
        align-items: flex-start;
    }
    .aptitudes{
        width: auto;
    }
    .dos{
        height: auto;
        padding: 0 10px 10px 10px;
        padding-top: 10%;
        padding-bottom: 20%;
    }
    .tres{
        height: auto;
    }
    .proyectos{
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 20px;
    }
    .card{
        width: 80%;
        margin-top: 20px;
    }
    .red-social{
        margin: 0 10px 0 10px;
    }
}
